<!doctype html>  
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		
		<title>Remote Presentation Controller</title>

		<meta name="description" content="Remote Controller for reveal.js">
		<meta name="author" content="Ngo The Hung">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
	
		<%- body %>
	
	
	</body>
</html>

